@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: theme('colors.bg.DEFAULT');
    color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: theme('colors.bg.dark');
}

::-webkit-scrollbar-thumb {
    background: theme('colors.bg.surface');
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.brand.900');
}